a {
    text-decoration-line: none;
    text-decoration-color: none;
}
/* ::content */

.helper {
    color:#0A0908 ;
    font-size: 1.2em;
    width: 40%;
    margin-top: 150px;
    margin-left: 200px;
    float: left;

}
.helper h2,.helper a {
    padding: 5px 0px;
}
.start input {
    margin-top: 10px !important;
    background-color: #292D28;
}
.homelogin {
    width: 25%;
    margin-top: 180px;
    float: right;
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 30px;
    margin-right: 120px;
}
input[type=submit], .afix {
    margin: 15px 0px;
    background-color: #0099C4;
    padding: 11px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #0A0908;
}
.green input[type=submit]{
    background-color: #0BC474 !important;
}
input[type=text] {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=password] {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
/* Floating column for labels: 25% width */
.col-25 {
  width: 25%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  width: 75%;
  margin-top: 6px;
}

@media screen and (max-width: 1024px) {
    .col-75 {
        width: 90%;
        margin: 0;
    }
    h1 {
        display: none;
    }
    .homelogin {
        margin-left: 50px;
        width: 50%;
    }
}

@media screen and (max-width: 812px) {
    .welcome, {
        width: 60%;
    }
    h1 {
        display: none;
    }
} 

footer {
    float: left;
    position: absolute;
   bottom:-150px;
}
